@model IEnumerable<AgendaDeContatosMVC.Models.Contact>

@{
    ViewData["Title"] = "IndexSearch";
}


<div class="text-center">
    <div class="display-4">
            <h3>Contatos</h3>
     </div>
    <p>
        <span class="text-end">Novo contato</span>
        <a asp-action="Create"><i class="bi bi-plus-square"></i></a>
    </p>
    <form class="d-flex" style="justify-content: center;">
        <input class="form-control me-sm-2" type="search" placeholder="Search" name="name" style="width: 30%;">
        <button class="btn btn-secondary my-2 my-sm-0" asp-action="Index" type="submit">Search</button>
    </form>
    
</div>

<table class="table" style="justify-content: center;">
    <thead>
        <tr>
            <th width="20%">

            </th>
            <th width="60%" >
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="30%">
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                 |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
